

.login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left:auto;
    margin-right:auto;
    margin-top:200px;
    border: 1px solid rgb(88, 85, 85);
    width: 300px;
    
}

h2{
    font-weight: bold;
    text-shadow: 2px 2px 2px grey ;}

.input-container{text-align:center;}


input{
  
    margin:10px;
    padding:8px;
}


button{
    margin: 10px;
    padding: 8px;
    cursor: pointer;
    background-color: rgb(211, 19, 118);
    border-radius: 5px;
    color: aliceblue;
  
}

.popup{
    position:fixed;
    top:60%;
    left:50%;
    transform:translate(-50%,50%);
    background-color: #fff;
    padding:20px;
    border:1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}